.login_container{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}
.login_form_container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    height: 300px;
    width: 420px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.75);
}